// utils //

@import "./utils/visually-hidden";
@import "./utils/variables";

// base //

@import "./base/common";
@import "./base/container";

// components-index //

@import "./components/page-header";
@import "./components/page-hero";
@import "./components/page-object";
@import "./components/page-lessons";
@import "./components/page-command";
@import "./components/page-client";
@import "./components/page-footer";


// components-portfolio //
@import "./components/page-buttons";
@import "./components/page-poster";
@import "./components/page-backdrop";
@import "./components/page-backdrop-modal";