    
    .object-list-title, .lessons-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
  }

  .object-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    width: 100%;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
    
.object-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}  

.object-list-item{
      &:not(:last-child) {
       margin-bottom: 30px;
    }
}

    .container-object{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    }
 
  .object-list-title {
    margin-bottom: 10px;
  }

   .object-list-title, .object-list-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
